a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

div.centered {
    display: flex;
    justify-content: center;
}
form  {
    width: 40%;
    display: block;
    margin: auto;
}
