a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

div.centered {
    display: flex;
    justify-content: center;
}
div.form
{
    display: block;
    text-align: center;
}
form
{
    width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.container {
    padding: 15px;
    margin: auto;
    max-width: 75%;
    border-radius: 8px;
    border: 1px solid hsl(216, 12%, 84%);
}